@model CardModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@foreach (Card c in Model.cards)
{
    <h4>@c.value @c.suit</h4>
    <img src=@c.image />
}

@*<form method="post" asp-action="Index" asp-route-deckId="@Model.deck_id">
    <input type="submit" value="Draw 5 cards" />
</form>*@


